@import "./base.css";
@import "./color.css";
@import "./fontsize.css";
@import "./media.css";

* {
  font-family: var(--body-font-family);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--mougaitong-gray-dark);
  transition: 0.4s;
}

.radius12 {
  border-radius: 12px;
}
